.page__section {
  max-width: 880px;
  margin: 0 auto;
}

@media screen and (max-width: 1023.98px) {

  .page__section {
    max-width: 644px;
    padding-left: 25px;
    padding-right: 25px;
  }
}

@media screen and (max-width: 767.98px) {

  .page__section {
    max-width: 320px;
  }
}
