.profile__info {
  margin: 0 0 0 30px;
  max-width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
  width: 537px;
}

@media screen and (max-width: 1023.98px) {

  .profile__info {
    width: 322px;
  }
}

@media screen and (max-width: 767.98px) {

  .profile__info {
    margin: 22.25px auto 0;
    width: 100%;
  }
}
