.profile__subtitle {
  margin: 16px 0 0;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  text-overflow: ellipsis;
  max-width: 480px;
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
}

@media screen and (max-width:1023.98px) {

  .profile__subtitle {
    max-width: 300px;
  }
}

@media screen and (max-width: 767.98px) {

  .profile__subtitle {
    margin: 16px auto 36px;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
  }
}
