.popup__text {
  width: 358px;
  max-height: 27px;
  margin: 54px auto 30px;
  padding-bottom: 13px;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, .2);
  box-sizing: border-box;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.popup__text:last-of-type {
  margin: 0 auto;
}

@media screen and (max-width: 767.98px) {

  .popup__text {
    max-width: 238px;
    margin: 75px auto 30px;
  }
}
